body {
  font-size: 15px;
  color: #555;
}

label {
  margin-right: 0.5rem;
}

.section {
  margin-bottom: 1rem;
}

header {
  margin-bottom: 1rem;
}

input[type="text"] {
  box-sizing: border-box;
  padding: 0.3rem 0.5rem;
  border: 2px solid gray;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  line-height: 1.2;
  height: 2.2rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.error {
  color: red;
  font-size: 1rem;
}

.main {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
}

.u-text-center {
  text-align: center;
}

.form-header {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.example {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
